<section class="description">
    <h2>Bienvenue sur notre site</h2>
    <p>
        Plongez dans l'univers de MeiJiah - L'atelier des Dragons. <br>
        
        Découvrez notre collection de bijoux et accessoires artisanale et laissez vous charmer par la magie de nos créations.
        
    </p>
    <hr>
</section>
<section class="container">
    <div class="info-section">
        <h2>A propos de nous</h2>
        
        <p class="bold">MeiJiah - L'atelier des Dragon est une marque axée sur la création de bijoux et d'accessoires faits main avec attention. Notre ambition est de vous offrir des créations uniques pour embellir votre style. Découvrez notre approche artisanale et laissez vous séduire par nos pièces exceptionnelles.

        </p>
            <button class="cta" [routerLink]="['/about']">En savoir plus</button>
        </div>
        <div class="image-section">
           <img src="/images/info.avif" alt="">
        </div>
    </section>