.icon{
    font-size: 3rem;
}
.rating{
    color: gold;
    font-size: 24px;
    padding: 1rem;
}
.feature-card{
    background-color: rgb(73, 10, 14);
    color: white;
}
.name{
    font-size: 1.3rem;
}