<nav class="navbar navbar-expand-lg bg-body-tertiary red">
    <div class="container">
      <a data-testid="navbar-title" class="navbar-brand white">
        <img src="/images/logos.png" alt="logo">
        MeiJiah - L'atelier des dragons
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active white" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active white" aria-current="page" [routerLink]="['/about']">A propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active white" aria-current="page" href="https://www.etsy.com/fr/shop/MeiJiah" target="_blank">Boutique</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active white" aria-current="page" [routerLink]="['/porfolio']">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active white" aria-current="page" [routerLink]="['/blog']"
              >Blog</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>